/* COMMON */
img{
    width: 100%;
}

:root{
    /* Colors */
    --new-releases: rgb(31 31 31);
    --plus: rgb(190 188 187);
    --now: rgb(23 30 58);
    --footer: rgb(20 74 152);
}

/* Layout */
section{
    padding: 2.5em 0 2.5em 0;
}
/* HEADER */
.ms-header-top img{
    width: 80px;
}
.images{
    margin-left: .5em;
    width: 30px;
}
/* MAIN */
/* Jumbotron */
#jumbotron{
    margin-top: 6.5em;
    color: white;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

/* It takes */
#it-takes{
    color: white;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;

}
/* New releases */
#releases{
    color: white;
    background-color: var(--new-releases);
}
/* Playstation plus */
#playstationplus{
    background-color: var(--plus);
}
section#playstationplus{
    padding: 0;
}
.btn-secondary{
    background-color: rgb(217 218 220);
    border-color: rgb(217 218 220);
}
/* PlayStation Now */
#now{
    color: white;
    background-color: var(--now);
}
/* Social */
.ms-wrapper{
    padding-top: 2em;
    width: 70%;
    margin: 0 auto;
}
/* FOOTER */
#info{
    color: white;
    background-color: var(--footer);
}
#info ul li{
    list-style-type: none;
}